body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5),#6b6969), url(poze/fundalblog2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold; 
    margin: 40px 0;
    text-align: center;
}

bp {
    font-size: 20px;
    line-height: 2.2; 
    margin-bottom: 60px;
}

.paragraph {
    margin-left: 20px; 
}
